.body-back {
    background-color: #153e63;
}

.nome-principal {
    color: #FFFFFF;
}

.coluna {
    background-color: #d8e2eb;
    border-radius: 10px;
}

.disciplina {
    background-color: #FFFFFF;
    margin: 2px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.disciplina:hover {
    background-color: #b2cfe9;
}

.nome {
    color: #153e63;
    font-size: 15px;
    font-weight: bold;
}

.descricao {
    font-size: 12px;
}

#disciplinas {
    border: 2px #c0c0c0 solid;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.float-left {
    float: left;
    margin-left: 10px;
}