.body-back {
    background-color: #153e63;
}

.descricao {
    font-size: 12px;
}

.disciplina {
    background-color: #FFFFFF;
    border-radius: 10px;
    height: 100px;
    margin: 2px 0 2px 0;
    padding: 10px 0 10px 0;
    text-align: center;
    border-style:solid;
	border-width:1px;
}


.disciplina:hover {
    background-color: #b2cfe9 !important;
}

.float-left {
    float: left;
    margin-left: 10px;
}

.nome {
    color: #153e63;
    font-size: 15px;
    font-weight: bold;
}

.nome-principal {
    color: #FFFFFF;
    text-align: center;
}

.periodo {
    background-color: #d8e2eb;
    border-radius: 10px;
}

.periodo .sortable-list {
    min-height: 200px;
}

.sumario {
    text-align: center;
}
