/* Required by Angular Bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.container { max-width: 600px; }

.disciplina .btn-desalocar { display: none; }
.disciplina:hover .btn-desalocar { display: block; }
.disciplina .requisito { margin: 0 2px 0 2px; }