@(form: Form[Usuario])


@main("Plano de Curso") {
@helper.form(routes.Application.submeteCadastro) {
<nav class="navbar navbar-inverse"
     role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"
         href="/">Plano de Curso</a>
    </div>
</nav>
<html>
    <body>
    <div class="container">  
        @if(flash.contains("success")) { 
            <div class="alert alert-success">
            @flash.get("success")
            </div> 
        }
        @if(form.hasGlobalErrors) {
            <div class="alert alert-warning">
            @form.globalError.message    
            </div> 
        } 
        
    <div class="panel panel-primary">
    <div class="panel-heading">
         <h3 class="panel-title">Cadastrar novo usuario:</h3>

    </div>
    <div class="panel-body">
        <form class="form-signin" role="form">
        <input type="email" name="email" class="form-control" placeholder="Email" required autofocus>
        <input type="name" name="nome" class="form-control" placeholder="Nome" required autofocus>
        <input type="password" name="senha" class="form-control" placeholder="Senha" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>
        <div class="panel-footer">
        <a href="@routes.Application.login()">Já é cadastrado? Logue-se agora.</a>
        </div>
    </div>
    

    </div>
    </body>

</html>
}
}
