@(estudante: Estudante)

@import helper._
@import play.libs.Json

@main("Plano de Curso", estudante) {

<script type="text/javascript">
  @if(estudante.getPlano() != null) {
  var PLANO_CACHE = @Html(new PlanoJson().toJson(estudante.getPlano()).toString());
  } else {
  var PLANO_CACHE = undefined;
  }
</script>

<div>
  <ng-include ng-repeat="periodo in plano.periodos"
              src="'periodo/periodo.html'">
  </ng-include>
</div>

<script id="periodo/periodo.html"
        type="text/ng-template">
  <div class="periodo panel"
       ng-class="{'panel-primary': periodo.isAtual, 'panel-default': periodo.isPassado, 'panel-info': periodo.isFuturo}"
       ng-controller="PeriodoCtrl">
    <div class="panel-heading dropdown"
         ng-include="'periodo/periodo-heading.html'">
    </div>
    <div class="panel-body"
         ng-include="'periodo/periodo-body.html'">
    </div>
  </div>
</script>

<script id="periodo/periodo-heading.html"
        type="text/ng-template">
  {{periodo.semestre}}º Período
  <span class="label label-default">
    {{periodo.totalCreditos}} créditos
  </span>
  <button class="dropdown-toggle pull-right btn btn-default btn-xs">
    <span class="glyphicon glyphicon-cog"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right">
    <li>
      <a href="#" ng-click="programar(periodo)">
        Programar Disciplina...
      </a>
    </li>
  </ul>
</script>

<script id="periodo/periodo-body.html" type="text/ng-template">
  <div ng-if="periodo.erroPoliticaDeCreditos && periodo.disciplinas.length" class="alert alert-danger">
    {{periodo.erroPoliticaDeCreditos}}
  </div>
  <div class="list-group"
       ng-model="periodo.disciplinas"
       x-lvl-drop-target="true"
       x-on-drop="dropped(dragEl,dropEl)">
    <div ng-if="periodo.disciplinas.length==0" class="blank-slate">
      <h2>
        Período Vazio<br/>
        <small>
          Que tal <a ng-click="programar(periodo)">programar uma disciplina?</a>
        </small>
      </h2>
    </div>
    <a class="list-group-item disciplina"
       x-lvl-draggable="true"
       ng-repeat="disciplina in periodo.disciplinas"
       ng-include="'periodo/disciplina.html'"
       href="#">
    </a>
  </div>
</script>

<script id="periodo/disciplina.html"
        type="text/ng-template">
  <button class="btn btn-default btn-xs pull-right"
          ng-click="desprogramar(disciplina, periodo)"
          ng-if="desprogramar">
    <span class="glyphicon glyphicon-trash"></span>
  </button>
  <h4>
    {{disciplina.nome}}
    <span class="badge">{{disciplina.creditos}}</span>
  </h4>
  <ul class="small list-inline">
    <li ng-repeat="requisito in disciplina.requisitos">
      <span class="label"
            ng-class="requisito.isSatisfeito?'label-primary':'label-danger'">
        {{requisito.nome}}
      </span>
    </li>
  </ul>
</script>

<script id="modal-programar-disciplina.html"
        type="text/ng-template">
  <div class="modal-header">
    <h3>Programar Disciplina</h3>
  </div>
  <div class="modal-body">
    <form role="form">
      <div class="form-group">
        <label for="semestre">Semestre</label>
        <input class="form-control"
               type="text"
               value="{{periodo.semestre}}"
               disabled>
      </div>
      <div class="form-group">
        <label for="disciplina">Disciplina</label>
        <select class="form-control"
                ng-model="disciplina"
                ng-options="d.nome group by d.categoria for d in disciplinas">
        </select>
      </div>
      <div class="well well-sm"
           ng-include="'periodo/disciplina.html'">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary"
            ng-click="ok(disciplina)">OK</button>
    <button class="btn btn-warning"
            ng-click="cancelar()">Cancelar</button>
  </div>
</script>

<script id="modal-configurar-plano.html"
        type="text/ng-template">
  <div class="modal-header">
    <h3>Configurar Plano de Curso</h3>
  </div>
  <div class="modal-body">
    <form role="form">
      <div class="form-group">
        <label for="curriculo">Currículo que você está cursando:</label>
        <select class="form-control"
                ng-model="curriculo"
                ng-options="c.nome for c in curriculos"
                ng-disabled="!criarNovo">
        </select>
      </div>
      <div class="form-group">
        <label for="grade">Grade que você está cursando:</label>
        <select class="form-control"
                ng-model="grade"
                ng-options="g.nome for g in curriculo.grades"
                ng-disabled="!criarNovo">
        </select>
      </div>
      <div class="form-group">
        <label for="periodo">Período que você está cursando:</label>
        <select class="form-control"
                ng-model="periodo"
                ng-options="p.nome for p in grade.periodos">
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary"
            ng-click="ok(curriculo, grade, periodo)">Salvar</button>
  </div>
</script>

<script id="modal-estatisticas.html"
        type="text/ng-template">
  <div class="modal-header">
    <h3>Estatísticas</h3>
  </div>
  <div class="modal-body">
    <tabset>
      <tab ng-repeat="(nomeTabela, estatisticas) in estatisticas" heading="{{nomeTabela}}">
        <br />
        <table class="table table-hover">
          <thead>
            <tr>
              <th></th>
              <th colspan="2">Créditos</th>
              <th colspan="2">Disciplinas</th>
            </tr>
            <tr>
              <th></th>
              <th>Total</th>
              <th>Mínimo</th>
              <th>Total</th>
              <th>Mínimo</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(particao, valores) in estatisticas">
              <td>{{particao}}</td>
              <td>{{valores.totalCreditos}}</td>
              <td>{{valores.minCreditos}}</td>
              <td>{{valores.totalDisciplinas}}</td>
              <td>{{valores.minDisciplinas}}</td>
            </tr>
          </tbody>
        </table>
      </tab>
    </tabset>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary"
            ng-click="ok()">OK</button>
  </div>
</script>

}
