@(usuario: Usuario)

@import helper._

@main("Plano de Curso", usuario) {
<div ng-controller="PlanoDeCursoCtrl">
  <alert close="alertas.fecharAlerta($index)"
         ng-repeat="alerta in alertas.mensagens"
         type="alerta.tipo">
    <span ng-bind-html="alerta.mensagem"></span>
  </alert>
  <ng-include ng-repeat="periodo in planoDeCurso.periodos"
              src="'periodo/periodo.html'">
  </ng-include>
</div>

<script id="periodo/periodo.html"
        type="text/ng-template">
  <div class="periodo panel panel-primary"
       ng-controller="PeriodoCtrl">
    <div class="panel-heading dropdown"
         ng-include="'periodo/periodo-heading.html'">
    </div>
    <div class="panel-body"
         ng-include="'periodo/periodo-body.html'">
    </div>
  </div>
</script>

<script id="periodo/periodo-heading.html"
        type="text/ng-template">
  {{periodo.semestre}}º Período
  <span class="label label-default">
    {{periodo.totalCreditos}} créditos
  </span>
  <button class="dropdown-toggle pull-right btn btn-default btn-xs">
    <span class="glyphicon glyphicon-cog"></span>
  </button>
  <ul class="dropdown-menu pull-right">
    <li>
      <a href="#" ng-click="alocar()">
        Alocar Disciplina...
      </a>
    </li>
  </ul>
</script>

<script id="periodo/periodo-body.html"
        type="text/ng-template">
  <div class="list-group"
       ui-sortable="sortableOptions"
       ng-model="periodo.disciplinas">
    <a class="list-group-item disciplina"
       ng-repeat="disciplina in periodo.disciplinas"
       ng-include="'periodo/disciplina.html'"
       href="#">
    </a>
  </div>
</script>

<script id="periodo/disciplina.html"
        type="text/ng-template">
  <button class="btn btn-default btn-xs pull-right"
          ng-click="desalocar(disciplina)"
          ng-if="desalocar">
    <span class="glyphicon glyphicon-trash"></span>
  </button>
  <h4>
    {{disciplina.nome}}
    <span class="badge">{{disciplina.creditos}}</span>
  </h4>
  <ul class="small list-inline">
    <li ng-repeat="requisito in disciplina.requisitos">
      <span class="label"
            ng-class="isSatisfeito(requisito, periodo)?'label-primary':'label-danger'">
        {{requisito.nome}}
      </span>
    </li>
  </ul>
</script>

<script id="periodo/modal-alocar-disciplina.html"
        type="text/ng-template">
  <div class="modal-header">
    <h3>Alocar Disciplina</h3>
  </div>
  <div class="modal-body">
    <form role="form">
      <div class="form-group">
        <label for="semestre">Semestre</label>
        <input class="form-control"
               type="text"
               value="{{periodo.semestre}}"
               disabled>
      </div>
      <div class="form-group">
        <label for="disciplina">Disciplina</label>
        <select class="form-control"
                ng-model="disciplina"
                ng-options="d.nome for d in disciplinas">
        </select>
      </div>
      <div class="well well-sm"
           ng-include="'periodo/disciplina.html'">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary"
            ng-click="ok(disciplina)">OK</button>
    <button class="btn btn-warning"
            ng-click="cancelar()">Cancelar</button>
  </div>
</script>

}
