@()

@import helper._

@main("Plano de Curso") {
<nav class="navbar navbar-inverse"
     role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"
         href="/">Plano de Curso</a>
    </div>
  </div>
</nav>

<div class="container">
<div class="panel panel-primary">
<div class="panel-heading">
     <h3 class="panel-title">Ir para a tela de login</h3>

</div>
<div class="panel-body">
    <a href="@routes.Application.login()">Logue-se agora.</a>
    </div>
</div>
</div>

</div>
</body>

</html>
}