@(periodos: List[Periodo], disciplinasOfertadas: List[Disciplina])

@import helper._

@main("Plano de Curso") {

<div class="container">
  <div class="page-header text-center">
    <h1 class="nome-principal">Meu Curso</h1>
  </div>

  <div id="colunas" class="row">
    @for((periodo, index) <- periodos.zipWithIndex) {
    <div class="col-md-2 coluna periodo-@{index + 1}">
      <div class="row text-center">
        <h4>@{index + 1}º Período <small class="descricao">(24 créditos)</small></h4>
      </div>
      @for(disciplina <- periodo.getDisciplinas()) {
      <div class="row">
        <div class="disciplina">
          <div class="nome">@disciplina.getNome()</div>
          <div class="descricao">@disciplina.getCreditos() créditos</div>
        </div>
      </div>
      }
    </div>
    }
  </div>

  <div class="text-center">
    <h2 class="nome-principal">Disciplinas Ofertadas</h2>
  </div>

  <div id="disciplinas">
    @for(disciplinasRow <- disciplinasOfertadas.grouped(6)) {
      <div class="row">
        @for(disciplina <- disciplinasRow) {
          <div class="col-md-2">
            <div class="disciplina">
              <div class="nome">@disciplina.getNome()</div>
              <div class="descricao">@disciplina.getCreditos() Créditos</div>
            </div>
          </div>
        }
      </div>
    }
  </div>

</div>
}
