@(form: Form[Application.Login])


@main("Plano de Curso", null, false) {

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Login</h3>
  </div>
  <div class="panel-body">
    @if(form.hasGlobalErrors) {
    <div class="alert alert-warning">
      @form.globalError.message
    </div>
    }
    @helper.form(routes.Application.autenticar) {
    <form role="form">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon glyphicon glyphicon-envelope"></span>
          <input type="text"
                 name="email"
                 class="form-control"
                 placeholder="Seu e-mail"
                 autofocus>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon glyphicon glyphicon-lock"></span>
          <input type="password"
                 name="senha"
                 class="form-control"
                 placeholder="Senha"
                 autofocus>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block" type="submit">
          Entrar
        </button>
      </div>
      <div class="panel-footer">
        Não é cadastrado?
        <a href="@routes.Application.cadastrar()">Cadastre-se.</a>
      </div>
    </form>
    }
  </div>
</div>

}
