@(title: String, usuario: Usuario)(content: Html)
<!DOCTYPE html>
<html style="height: 100%;" ng-app="mainApp">
    <head>
        <title>@title</title>
        <!-- vendor -->
        <script src="@routes.Assets.at("javascripts/adt.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/underscore-min.js")"></script>
        <script src="@routes.Assets.at("javascripts/angular.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/angular-resource.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/ui-bootstrap-tpls.min.js")"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-theme.min.css")">
        <script src="@routes.Assets.at("javascripts/growl.js")"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/growl.css")">
        <script src="@routes.Assets.at("javascripts/lvl-uuid.js")"></script>
        <script src="@routes.Assets.at("javascripts/lvl-drag-drop.js")"></script>
        <!-- application -->
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/main.js")"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <script src="@routes.Assets.at("javascripts/common.js")"></script>
        <script src="@routes.Assets.at("javascripts/Disciplina.js")"></script>
        <script src="@routes.Assets.at("javascripts/Curriculo.js")"></script>
        <script src="@routes.Assets.at("javascripts/Grade.js")"></script>
        <script src="@routes.Assets.at("javascripts/Periodo.js")"></script>
        <script src="@routes.Assets.at("javascripts/PlanoDeCurso.js")"></script>
    </head>
    <body ng-controller="MainCtrl">
      <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="@routes.Application.index()">
              <span class="li_study"></span> Plano de Curso
            </a>
          </div>
          <ul class="nav navbar-nav">
            @if(usuario != null) {
            <li><a href="#">@usuario.email</a></li>
            <li><a href="@routes.Application.logout()">Sair</a></li>
            } else {
            <li><a href="@routes.Application.login()">Login</a></li>
            }
          </ul>
        </div>
      </nav>

      <div class="container">
        @if(!flash.isEmpty()) {
          @for((key, content) <- flash) {
          <div class="alert alert-@key">
            @content
          </div>
          }
        }

        @content
      </div>
    </body>
</html>
