@(title: String)(content: Html)
<!DOCTYPE html>
<html style="height: 100%;" ng-app="mainApp">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-theme.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/signin.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui.css")">
        <script src="@routes.Assets.at("javascripts/jquery.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/jquery-ui.min.js")"></script>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/underscore-min.js")"></script>
        <script src="@routes.Assets.at("javascripts/angular.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/ui-bootstrap-tpls.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/sortable.js")"></script>
        <script src="@routes.Assets.at("javascripts/adt.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/main.js")"></script>
        <script src="@routes.Assets.at("javascripts/common.js")"></script>
        <script src="@routes.Assets.at("javascripts/Disciplina.js")"></script>
        <script src="@routes.Assets.at("javascripts/Periodo.js")"></script>
        <script src="@routes.Assets.at("javascripts/PlanoDeCurso.js")"></script>
    </head>
    <body ng-controller="MainCtrl">
      @content
    </body>
</html>
